.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6);
    z-index: 99;
}

.modal .container{
    position: fixed;
    max-width: 600px;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 4em 2em;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0,0,0, 1);
}

.close{
    background-color: rgb(255, 99, 99);
    border: 0;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 15px;
    display: flex;
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 3px 15px;
    color: white;
    transition: all 0.5s;
}

.close svg{
    margin-right: 3px;
}

.close:hover{
    background-color: red;
    font-style: italic;
}

.modal h2{
    margin-bottom: 1.2em;
    text-align: center;
}

.modal span{
    font-weight: bold;
    font-size: 1.1em;
}

.modal span i{
    font-weight: 400;
    margin-right: 1em;
    padding: 2px 8px;   
}

.row{
    margin-bottom: 1.6em;
}

.modal p{
    padding-top: 0.5em;
    font-weight: 400;
    white-space: pre-wrap;
    text-align: justify;
    line-height: 150%;
}

.status-badge{
    margin-left: 1em;
    border-radius: 5px;
}